{% extends 'public/base.html' %}
{% load i18n static %}
{% block title %}
    Create Project
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form class="form-signin" method="POST">
                    {% csrf_token %}
                    <div class="text-center mb-4">
                        <img class="mb-4" src="{% static 'img/health-checker.png' %}" alt="logo" width="300"
                             height="200">
                        <h1 class="h3 mb-3 font-weight-normal">Login In</h1>
                    </div>
                    {% include 'message.html' %}
                    <div class="form-label-group">
                        <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                               required
                               autofocus>
                        <label for="username">Username<span class="indicator-red">*</span></label>
                    </div>

                    <div class="form-label-group">
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                               required>
                        <label for="password">Password<span class="indicator-red">*</span></label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    <p class="mt-5 mb-3 text-muted text-center">&copy; 2022 - 2022</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

