SECRET_KEY=$d7p@s@*bt=u1cw_=l2-0jt4x_d*y#u$-fo^ou(-pwtw-0yl3'
DEBUG=True
ALLOWED_HOSTS=*

# Database information
DB_NAME=healthchecker
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

# Celery Information
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379