{% extends 'base.html' %}
{% block title %}
   System Status
{% endblock %}
{% block content %}
    <section>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"> Service Status</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Service Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Last Ping</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.name }}</td>
                               <td> <span {% if service.status == "ok" %} class="badge badge-success"
                               {% elif service.status == "checking" %} class="badge badge-info"
                               {% else %}class="badge badge-danger"
                               {% endif %} style="padding: 1em 1em; text-transform: capitalize;">{{ service.status }}</span> </td>
                                <td>{{ service.interval }} Seconds ago</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    {% block script %}
        <script>
            setTimeout(function () {
                location.reload();
            }, 30000);

        </script>

    {% endblock %}
{% endblock %}