{% extends 'base.html' %}
{% block title %}
    Project List
{% endblock %}
{% block content %}
    <div class="container project">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 create-project">
                        <a class="btn btn-primary" href="{% url 'project_create' %}">Create Project</a>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                Project List
                            </div>
                            <ul class="list-group list-group-flush">
                               <li class="list-group-item"> {% if not projects %} No Project Available {% endif %}</li>
                                {% for project in  projects %}
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <a href="{{ project.id }}">{{ project.name }}</a>
                                            </div>
                                            <div class="col-md-8">
                                                {{ project.descriptions }}
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
